.page__topbar{

  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  padding: 8px 0;

  ul.nav-topbar {

    list-style: none;
    margin: 0; padding: 0;

    li{

      font-size: $fontSmall;
      display: inline;
      padding-right: 7px;
      
      a{
        text-decoration: none;
        color: #000;

        &:hover{
          text-decoration: underline;
        }

      }

    }

  }

  .topbar__contact{

    display: inline-block;
    margin-left: 8px;

    i {
    
      color: #bebebe;
      font-size: 13px;
      padding-right: 4px;
    
    }

    a {

      font-size: $fontSmall;
      text-decoration: none;
      color: #000;

      &:hover{
        text-decoration: underline;
      }

    }

  }

  .container {

    display: flex;
    flex-flow: row nowrap;

    .section {

      flex: 0 1 100%;
      
      @media #{$small} {

        flex-basis: 50%;

      }

        
    }

  }

  .topbar__icon {

    margin-right: 6px;

    &--mail {

      width: 20px;

    }
    &--phone {

      height: 13px;
      position: relative;
      top: 2px;

    }

  }

}