.page__copyright {

  background-color: #222222;
  border-top: 1px solid #3d3d3d;
  color: #505050;
  padding: 16px 0;
  font-size: $fontSmall;

  a {

    text-decoration: none;
    color: #26A5CC;

    &:hover {

      color: rgb(27, 141, 175);

    }

  }

  .container {

    display: flex;
    flex-flow: row wrap;

    .section {

      flex: 0 1 100%;
      
      @media #{$small} {
        
        flex-basis: 50%;
        
      }
      @media #{$medium} {
        
        flex-basis: 25%;

      }

      &-large {

        flex-basis: 100% !important;

      }

    }

  }

}