.services {

  &-grid {

    display: flex !important;
    flex-flow: row wrap;

  }

  &-header {

    font-size: 28px;
    margin-top: 48px;

    &-single {

      flex: 0 1 100%;
      text-align: center;
      font-size: 2em;

    }

  }

  &-desc {

    margin-bottom: 38px;    

  }

  &-header,
  &-desc {

    flex: 0 1 100%;
    text-align: center;

  }

  &-item {

    box-sizing: border-box;
    flex: 0 1 100%;

    @media #{$small} {
        
      flex-basis: 50%;
      
    }
    @media #{$medium} {
      
      flex-basis: 33.33332%;

    }

  }

}
.services__card{

  margin: 35px 0 16px;
  padding: 0 16px;
  
  &, & * {

    text-align: center;

  }
  &,
  &-button,
  & p{

    font-size: $fontSmall;

  }
  h2{

    min-height: 46px;

  }
  p{

    min-height: 45px;

  }
  &-icon{
    
    display: block;
    width: 100%;

    .icon {

      height: 36px;

    }

  }
}