a.btn,
.btn{
  &-default{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 18px;
    font-size: 16px;
    text-decoration: none;
    transition: 300ms;
  }
  &--fill{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: #fff;

    &:hover{
      background-color: $primary-color-shade;
    }
  }

  &--outline{
    background: none;
    color: #fff;
    border: 1px solid $primary-color;

    &:hover{
      color: #fff;
      background-color: $primary-color-shade;
      border-color: $primary-color-shade;
    }
  }
}